<p id="notice"><%= notice %></p>

<div class="card sidee">
<p>
  <img src="<%= @music.image %>" />
</p>
<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @music.description %>
</p>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
</div>

